#profilePic {
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: min(1vh, 1vw) solid #1f1f1f;
}
h2 {
    display: inline;
}
h3 {
    text-align: center;
    font-weight: lighter;
}
article > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2vh;
    gap: 1vw;
}

@media (orientation: landscape) {
    main {  margin: 5vh;  }
    #profilePic {
        height: 25vw;
    }
    figure {
        display: inline;
        margin-bottom: 5vh;
    }
    summary {
        display: inline;
        margin-left: 5vh;
        vertical-align: top;
    }
    .languageIcon {
        flex: 1;
        height: 6vw;
        object-fit: contain;
    }
}

@media (orientation: portrait) {
    h1, p, ul {  text-align: center;  }
    #profilePic {
      width: 75vw;
      margin: 4.75vh auto;
      display: block;
    }
    .languageIcon {
      flex: 1;
      height: 6vw;
      object-fit: contain;
    }
}