@media (orientation: landscape) {
    article {  margin: 5vh;  }
    #profilePic {
        height: 25vw;
        border: 0.25rem solid #1f1f1f;
    }
    figure {
        display: inline;
        margin-bottom: 5vh;
    }
    summary {
        display: inline;
        margin-left: 5vh;
        vertical-align: top;
    }
    .languageIcon {
        flex: 1;
        height: 6vw;
        object-fit: contain;
    }
    p, ul > span {  font-size: 1.25vw;  }
    h3 {  font-weight: lighter;  }
    h2, h3 {  font-size: 1.5vw;  }
    h1 {  font-size: 3vw;  }
  }