h1 {
  text-align: center;
}
button {
  background-color: #2b2b2b;
  text-decoration: none;
  color: #ddd;
  height: 2.5em;
  border-radius: 18px;
  text-align: center;
  border: 2px solid #3b3b3b;
}
#backButton {
  display: flex;
  justify-content: flex-end;
}